body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.page {
  display: flex;
  flex-flow: row wrap;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  width: 100%;
  font-size: 32px;
  font-weight: 900;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  width: 100%;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  width: 25%;
}

.card_case {
  display: flex;
  flex-flow: column wrap;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}